<div class="d-flex flex-column justify-content-center align-content-center container flex-wrap">
  <div class="d-flex justify-content-center p-4">
    <p class="fs-1 text-info fw-bold text-decoration-underline">CALCULATOR USING ANGULAR</p>
  </div>
  <div class="w-75 rounded-1 ">
    <!-- Screen -->
    <div class="bg-white d-flex rounded-top p-2  row h-100">
      <p class="fs-6 text-end function fw-bolder">{{displayFunction}}</p>
      <p class="fs-1 text-end display-number fw-bolder">{{displayNumber}}</p>
    </div>
    <!-- Screen end -->
    <div class=" p-2 rounded-bottom  d-flex row btn-panel">
      <!-- Row-1 -->
      <div class="row flex-fill w-100 align-items-center  p-2">
        <div class="col p-3 ">
          <button class="btn btn-dark w-100 fs-2 " (click)="calc(7)">7</button>
        </div>
        <div class="col p-3">
          <button class="btn btn-dark w-100 fs-2 " (click)="calc(8)">8</button>
        </div>
        <div class="col p-3">
          <button class="btn btn-dark w-100 fs-2 " (click)="calc(9)">9</button>
        </div>
        <div class="col p-3">
          <button class="btn btn-dark w-100 fs-2 " (click)="calc('C')">C</button>
        </div>
        <div class="col p-3">
          <button class="btn btn-dark w-100 fs-2 " (click)="calc('DEL')">DEL</button>
        </div>
      </div>
<!--row-1 end-->
      <div class="row flex-fill w-100 align-items-center p-2 ">
        <div class="col p-3 ">
          <button class="btn btn-dark w-100 fs-2 " (click)="calc(4)">4</button>
        </div>
        <div class="col p-3">
          <button class="btn btn-dark w-100 fs-2 " (click)="calc(5)">5</button>
        </div>
        <div class="col p-3">
          <button class="btn btn-dark w-100 fs-2 " (click)="calc(6)">6</button>
        </div>
        <div class="col p-3">
          <button class="btn btn-dark w-100 fs-2 " (click)="calc('+')">+</button>
        </div>
        <div class="col p-3">
          <button class="btn btn-dark w-100 fs-2 " (click)="calc('-')">-</button>
        </div>
      </div>
<!--      row-2 end-->
      <div class="row flex-fill w-100 align-items-center p-2 ">
        <div class="col p-3 ">
          <button class="btn btn-dark w-100 fs-2 " (click)="calc(1)">1</button>
        </div>
        <div class="col p-3">
          <button class="btn btn-dark w-100 fs-2 " (click)="calc(2)">2</button>
        </div>
        <div class="col p-3">
          <button class="btn btn-dark w-100 fs-2 " (click)="calc(3)">3</button>
        </div>
        <div class="col p-3">
          <button class="btn btn-dark w-100 fs-2 " (click)="calc('/')">/</button>
        </div>

        <div class="col p-3">
          <button class="btn btn-dark w-100 fs-2 " (click)="calc('*')">*</button>
        </div>

      </div>
<!--      row-3 end-->
      <div class="row flex-fill w-100 align-items-center p-2 ">
        <div class="col p-3 ">
          <button class="btn btn-dark w-100 fs-2 " (click)="calc(0)">0</button>
        </div>
        <div class="col p-3">
          <button class="btn btn-dark w-100 fs-2 " (click)="calc('00')">00</button>
        </div>
        <div class="col p-3">
          <button class="btn btn-dark w-100 fs-2 " (click)="calc('.')">.</button>
        </div>
        <div class="col p-3">
          <button class="btn btn-dark w-100 fs-2 s  shadow-lg" (click)="calc('%')">%</button>
        </div>
        <div class="col p-3">
          <button class="btn btn-dark w-100 fs-2 " (click)="calc('=')">=</button>
        </div>
      </div>
    </div>
  </div>
</div>
